{% extends "base.html" %}

{% if user.is_authenticated %}
  <a href="{% url 'page_edit' post.pk %}">Editar</a>
  <a href="{% url 'page_delete' post.pk %}">Borrar</a>
{% endif %}
##
{% block content %}
  <h2>{{ post.titulo }}</h2>
  <p><strong>Subtítulo:</strong> {{ post.subtitulo }}</p>
  <p><strong>Fecha:</strong> {{ post.fecha_publicacion }}</p>
  {% if post.imagen %}
  <img src="{{ post.imagen.url }}" alt="Imagen de la página" width="400">
  {% else %}
  <p>No hay imagen para este post.</p>
  {% endif %}
  
   <p><strong>Autor:</strong> {{ post.autor.nombre }}</p>

  <div>
    {{ post.contenido|safe }}
  </div>
{% endblock %}
